// Do not add any CSS to this file in the theme sources.
// This file can be overridden to add project-specific CSS.
pre {
    background: #222;
    padding: 10px;
}

img {
    height: 315px;
    display: inline !important;
    margin-right: 1%;
}