# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
__debug_bin
vendor
dist
generated_*.go

# Database
kisslists.sqlite

# Test binary, built with `go test -c`
*.test
kisslists

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/